<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 配置bean
        id属性：配置bean的名称，该属性值在IOC容器中是唯一的
        class属性：配置bean的全类名，Spring会利用反射技术实例化该bean
    -->
    <!-- 通过property标签给bean的属性赋值 -->
    <bean id="helloWorld" class="com.spring.helloWorld.HelloWorld">
        <property name="name" value="Spring"/>
    </bean>

    <bean id="employee" class="com.spring.beans.Employee">
        <property name="id" value="1"/>
        <property name="lastName" value="Sean"/>
        <property name="email" value="1111"/>
        <property name="department" ref="department"/>
    </bean>

    <bean id="department" class="com.spring.beans.Department">
        <property name="id" value="1001"/>
        <property name="name" value="造价部"/>
    </bean>
</beans>